.bwidth {
    position: absolute;
    z-index: 100;
}

/* ___________________________________________________ */
/* DEFAULTS & UTLITIES */
/* ___________________________________________________ */


/* DEFAULTS (START) */
/* img {
    height: 200px
} */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0
}

h2,h3,h4,h5,h6 {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Markazi Text', serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
/* DEFAULTS (END) */

/* COLOR VARIABLES (START) */
:root {
    /* Colors */
    --darkgreen: #495E57;
    --lightgreen: #48742C;
    --yellow: #F4CE14;
    --black: #333333;
    --peach: #EE9972;
    --gray: #EDEFEE;
    --white: #FFF;
    --red: #ca1f1f;
}
/* COLOR VARIABLES (END) */

/* UTILITIES (START) */
.small-icon {
    width: 24px;
    height: 24px;
}

.small-icon svg path {
    fill: var(--white);
}

.extra-small-icon {
    width: 10px;
    height: 10px;
}

.medium-icon {
    width: 30px;
    height: 30px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-row-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex-row-center-spread {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.flex-row-top-spread {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.flex-column-top-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
/* UTILITIES (END) */

/* ___________________________________________________ */
/* HOME PAGE DESKTOP CSS */
/* ___________________________________________________ */

/* NAV DESKTOP (START) */
nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-wrap {
    display: none;
}

.nav-content-container {
 width: 100%;
 max-width: 1000px;
 display: grid;
 grid-template-columns: repeat(2, auto);
 justify-content: center;
 justify-items: center;
 align-items: center;
}

.menu-links-container ul li {
    margin: 5px 15px 5px 15px;
    font-family: 'Karla', sans-serif;
    font-weight:bold;
    font-size: 20px;
}
.nav-title {
    color: var(--black);
    white-space: nowrap;
    transition: color 0.5s ease-in-out;
}

.nav-logo {
    height: 60px;
    margin-right: 30px;
    margin-bottom: 5px;
}

.nav-underline {
    background-color: var(--yellow);
    height: 5px;
    width: 0%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}

    /* Nav Hover Effects (Start) */
    .menu-links-container ul li a:hover {
        color: var(--darkgreen);
    }

    .menu-links-container ul li a:hover + .nav-underline {
        opacity: 1;
        width: 50%
    }
    /* Nav Hover Effects (End) */

.active-page {
    color: var(--darkgreen);

}

.active-line {
    background-color: var(--yellow);
    height: 5px;
    opacity: 1;
    width: 50%;
    }

/* NAV DESKTOP (END) */

/* HEADER DESKTOP (START) */
header {
    background-color: var(--darkgreen);
    height: 550px;
    padding: 40px

}

.header-content-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 600px));
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.header-content {
    padding: 0 15px 0 15px;
}

.header-content h1 {
    font-family: 'Markazi Text', serif;
    color: var(--yellow);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-content h3 {
    color: var(--white);
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
}

.header-content p {
    color: var(--white);
    font-family: Karla;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 24px;
    max-width: 404px;
}

.header-content a {
    display: flex;
    width: 300px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--black);
    font-family: Karla;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    transition: background-color 0.5s ease-in-out ;
}

.header-image-container {
    width: 100%;
    height: 100%;
}

.header-img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    min-height: 400px;
    background: url("./images/restauranfood.jpg") center center/cover;
    border-radius: 8px;
}

    /* Header Hover Effect (Start) */
        .header-content a:hover {
            background-color: var(--yellow);
        }
    /* Header Hover Effect (end) */


/* HEADER DESKTOP (END) */

/* SPECIALS DESKTOP (START) */
.specials-section-container {
    width: 100%;
}

.specials-content-container {
    padding: 46px 40px 46px 40px;
    background-color: var(--gray);
}

.specials-content {
    width: 100%;
    max-width: 1000px;
}

.specials-content h2 {
    color: var(--darkgreen);
    font-family: Karla;
    font-size: 35px;
    font-weight: 700;

}

.specials-content a {
    display: flex;
    width: 300px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--darkgreen);
    color: var(--white);
    font-family: Karla;
    font-size: 20px;
    font-weight: 700;
}

.specials-card-container {
    height: 576px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto,300px));
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 21px;
}

.specials-card {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 6px 6px 12px 6px;
}

.specials-card-img {
   width: 100%;
   height: 207px;
   border-radius: 8px;
}

.baked-salmon-img {
    background: url(./images/Baked-Salmon.jpg) center center/cover;
}
.lemon-dessert-img {
    background: url(./images/lemon\ dessert.jpg) center center/cover;
}
.greek-salad-img {
    background: url(./images/greek\ salad.jpg) center center/cover;
}

.shrimp-remoulade-img {
    background: url(./images/shrimp\ remoulade.jpg) center center/cover;
}

.menu-item {
    color: var(--darkgreen);
    font-family: 'Markazi Text', serif;
    font-size: 25px;
    font-weight: 700;
}

.menu-price {
    color: var(--darkgreen);
    text-align: right;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.specials-card-title {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.specials-card-text {
    width: 100%;
    max-width: 292px;
}

.specials-card-text p {
    margin-top: 30px;
    color: var(--darkgreen);
    font-family: Karla;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.specials-card-text a {
    width: 100%;
    display: flex;
    height: 49px;
    border-radius: 8px;
    background: var(--gray);
    color: var(--lightgreen);
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
}

.specials-card-text a img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
/* SPECIALS DESKTOP (END) */

/* TESTIMONIALS DESKTOP (START) */
.testimonials-section-container {
    height: 492px;
    background-color: var(--darkgreen);
    padding: 40px;
}

.testimonials-section-container h2 {
    color: var(--yellow);
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 55px;
}

.testimonials-card-container {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,minmax(auto, 235px));
    gap: 44px;
}

.testimonials-card {
    background-color: var(--white);
    border-radius: 8px;
    padding: 20px;
    height: 240px;
}

.rating-container img {
    width: 24px;
    height: 24px;
}

.profile-container {
    margin-top: 17px;
}

.profile-img-joseph {
    background: url(./images/joseph.jpg) center center/cover;
    width: 69px;
    height: 69px;
    border-radius: 8px;
    margin-right: 10px;
}
.profile-img-armin {
    background: url(./images/armin.jpg) center center/cover;
    width: 69px;
    height: 69px;
    border-radius: 8px;
    margin-right: 10px;
}
.profile-img-austin {
    background: url(./images/austin.jpg) center center/cover;
    width: 69px;
    height: 69px;
    border-radius: 8px;
    margin-right: 10px;
}
.profile-img-gabriel {
    background: url(./images/gabriel.jpg) center center/cover;
    width: 69px;
    height: 69px;
    border-radius: 8px;
    margin-right: 10px;
}

.testimonial-container {
    margin-top: 17px;
}

.testimonial-container img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.testimonial-container p {
    color: var(--black);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
/* TESTIMONIALS DESKTOP (END) */

/* ABOUT (START) */
.about-section-container {
    height: 743px;
    background-color: var(--gray);
    padding: 40px;
}

.about-content-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,minmax(auto,495px));
    gap: 30px;
}

.content {
    background-color: var(--darkgreen);
    /* width: 100%; */
    max-width: 445px;
    height: 464px;
    border-radius: 8px;
    padding: 27px;
}

.content h2 {
    color: var(--yellow);
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    font-weight: 700;
}

.content h3 {
    color: var(--white);
    font-family: Karla;
    font-size: 25px;
    font-weight: 400;
}

.content p {
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 27px;
}

.images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-image {
    background: url(./images/Mario\ and\ Adrian\ A.jpg) center center/cover;
    width: 261px;
    height: 310px;
    border-radius: 8px;
    position: absolute;
    right: 10px
}

.solo-image {
    background: url(./images/restaurant\ chef\ B.jpg) center center/cover;
    width: 261px;
    height: 310px;
    border-radius: 8px;
    position: absolute;
    right: 200px;
    top: 7px;
}
/* ABOUT (END) */

/* FOOTER DESKTOP (START) */
.footer-section-container {
    padding: 40px;
}

.footer-content-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto,300px));
    justify-items:center;
    justify-content: center;
    align-items:start;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-content h2 {
    margin-bottom: 15px;
}

.footer-content ul {
font-family: 'Karla', sans-serif;
font-weight:bold;
font-size: 20px;
}

.footer-content ul li {
    margin-bottom: 15px;
}

.footer-socials-container ul li a {
    margin-right: 5px;
}

.footer-content img {
    height: 20px;
}

.footer-logo-container div {
    height: 100%;
}

.footer-logo {
    height: 200px;
}
/* FOOTER DESKTOP (END) */

/* ___________________________________________________ */
/* BOOKING PAGE DESKTOP CSS */
/* ___________________________________________________ */

/* PROGRESS BAR DESKTOP (START) */
.bar-section-container {
    height: 20vh;
    background-color: var(--white);
}

.bar-bubble-container {
    display: grid;
    grid-template-columns: repeat(5,minmax(auto,100px));
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.bubble-title {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.gray-text {
    color: var(--gray);
}

.bubble-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar-bubble {
    height: 70px;
    width: 70px;
    background-color: var(--gray);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar-bubble img {
    height: 35px;
    width: 35px;
}

.bar-line {
    height: 3px;
    width: 100%;
    background-color: var(--black);
    transform: translateY(-30px);
}

.active-bubble {
    background-color: var(--darkgreen);
    transition: background-color 1s ease;
}

.fade-in {
    opacity: 1;
    transition: all 0.5s ease;
}

.fade-out {
    opacity: 0;
    transition: all 0.5s ease;
}

.checked-semi-circle-med path {
    fill: var(--white);
}

.hide-bar {
    display: none;
}
/* PROGRESS BAR DESKTOP (END) */

/* BOOKING SECTION DESKTOP (START) */

.booking-title-container {
    height: 100px;
    width: 100%;
    background-color: var(--yellow);
}

.slider-container {
    background-color: var(--darkgreen);
    height: 100%;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.slider {
    display: grid;
    grid-template-columns: repeat(4,100%);
    opacity: 1;
    transition: transform 0.5s ease-in-out;
}

.nextSlideOne {
    transform: translateX(-100%);
}

.nextSlideTwo {
    transform: translateX(-200%);
}

.nextSlideThree {
    transform: translateX(-300%);
}

.slideOne {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
}
.slideTwo {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.slideThree {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

}

.slideHidden {
    opacity: 0;
}

.booking-content-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto,600px));
    column-gap: 20px;
    width: 80vw;
    align-items: flex-start;
    justify-content: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.change-grid {
    grid-template-columns: repeat(1, minmax(auto,600px));
}

.calender-section-container > h2,
.calender-section-container > p {
    color: var(--white);
}
.page-buttons-container{
    width: 100%;
    max-width: 562px;
}

.page-buttons-container .page-button{
    width: 100%;
    max-width: 500px;
}

/* BOOKING SECTION DESKTOP (START) */

/* CALENDER COMPONENT (START) */
.calendar-content-container {
    background-color: var(--white);
    width: 500px;
    height: 421px;
    border-radius: 8px;
    padding: 50px 50px 50px 70px;
    font-family: 'Karla', sans-serif;
}

.calender-month-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    margin-bottom: 30px;
}

.month-year h2 {
    margin-right: 10px;
}

.left-arrow,
.right-arrow {
    width: 24px;
    height: 24px;
}

.prev-month,
.next-month {
    border-style: none;
    background: none;
    cursor: pointer;
}

.calender-week-container {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    column-gap: 10px;
}

.calender-week-container h2 {
    font-weight: 500;
}

.calender-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10px;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
}

.calender-grid h2 {
    text-align: center;
}

.calender-days-container{
    width: 100%;
}

.cell {
    height: 50px;
    width: 100%;
    max-width: 50px;
    background-color: var(--white);
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}

.cell:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

.clicked {
    background-color: var(--yellow);
    border-radius: 8px;
}
/* CALENDER COMPONENT (END) */

/* TIME AND GUESTS SECTION (START) */
.timeguest-section-container{
    width: 100%;
}

.timeguest-hidden {
    display: none;
}

.timeguest-section-container .page-button{
    max-width: 500px;
}

.timeguest-section-container > h2,
.timeguest-section-container > p {
    color: var(--white);
}

.timeguest-content-container {
    width: 100%;
    position: relative;
}

.time-container {
    width: 100%;
    max-width: 500px;
    height: 60px;
    background-color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: var(--black);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.time-disabled {
    pointer-events: none;
}

.time-container-clicked {
    background-color: var(--yellow);
}

.time-container h2 {
    font-size: 18px;
}

.guest-container {
    width: 100%;
    max-width: 500px;
    height: 82px;
    background-color: var(--white);
    border-radius: 8px;
    margin-top: 40px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.guest-container h2 {
    font-size: 18px;
}

.time-container:hover {
    background-color: var(--black);
    color: var(--white);
}

.time-container img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.time-slot-dropdown {
    position: absolute;
    transform: translateY(232px);
    width: 77%;
    height: 400px;
    overflow: scroll;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.visable {
    visibility: visible;
    opacity: 1;
}

.timeslot {
    background-color: var(--white);
    width: 100%;
    max-width: 500px;
    border-bottom: 3px solid var(--darkgreen);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    transition: background-color 0.2s ease-in-out;
    color: var(--black);
}

.timeslot-disabled{
    pointer-events: none;
}

.timeslot:hover {
    background-color: var(--yellow);
    color: var(--darkgreen);
    cursor: pointer;
}

.timeslot h2 {
    font-weight: 400;
    font-size: 20px;
}

.guest-container button {
    background: none;
    border: none;
    cursor: pointer;
}

.guest-container img {
    width: 24px;
    height: 24 px;
}

.guest-container h2 {
    margin-left: 40px;
    margin-right: 40px;
}

.page-button {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    margin-top: 40px;
}

.next-color:disabled {
    background-color: var(--gray);
    pointer-events: none;
}

.page-button img {
    width: 24px;
    height: 24px;
}

.page-button h2 {
    font-size: 17px;
}

.next-color {
    background-color: var(--yellow);
    color: var(--black);
    transition: all 0.3s ease-in-out;
}

.next-color:hover {
    background-color: var(--darkgreen);
    color: var(--white);
    border: 2px solid var(--white);
}

.prev-color {
    background-color: var(--black);
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.prev-color:hover {
    background-color: var(--darkgreen);
    color: var(--white);
    border: 2px solid var(--white);
}
/* TIME AND GUESTS SECTION (END) */

/* OCCASSION COMPONENT (START) */

.options-section-container{
    width: 100%;
}

.options-section-container .title-container {
    width: 100%;
    max-width: 500px;
}

.occasion-select-container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.occasions-button{
    width: 100%;
    max-width: 562px;
    height: 80px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.occasions-button:hover {
    background-color: var(--black);
    color: var(--white);
}

.occasions-background{
    background-color: var(--yellow);
    color: var(--black);
}

.occasion-select-container img {
    width: 24px;
    height: 24px;
}

.occasion-select-container h3 {
    margin-left: 40px;
    margin-right: 40px;
}

.occasion-title-container {
    color: var(--white);
    width: 100%;
    max-width: 500px;
}

.occasion-title-container h2 {
    margin-bottom: 10px;
}

.occasions-dropdown {
    position: absolute;
    width: 97%;
    transform: translateY(200px);
    left: 7px;
    visibility: hidden;
}

.occasions-visable {
    visibility: visible;
}

.occasion {
    background-color: var(--white);
    height: 60px;
    width: 100%;
    max-width: 500px;
    border-bottom: 3px solid var(--darkgreen);
    transition: background-color 0.2s ease-in-out;
    border-radius: 2px;
}

.occasion:hover {
    background-color: var(--yellow);
    cursor: pointer;
}
/* OCCASSION COMPONENT (END) */

/* WHEELCHAIR GUESTS COMPONENT (START) */

.wheelchairguests-select-container {
    width: 100%;
    max-width: 500px;
    height: 82px;
    background-color: var(--white);
    border-radius: 8px;
    text-align: center;
}

.wheelchairguests-select-container h2 {
    margin: 0 40px 0 40px
}

.wheelchairguests-select-container button {
    margin: 0 40px 0 40px;
    background: none;
    border: none;
    transition: transform 0.2s ease-in-out;
}

.wheelchairguests-select-container button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.wheelchairguests-select-container button:active {
    opacity: 0.8;
}

.wheelchairguests-title-container {
    color: var(--white);
    margin-top: 80px;
    width: 100%;
    max-width: 500px;
}

.wheelchairguests-title-container h2 {
    margin-bottom: 10px;
}

/* WHEELCHAIR GUESTS COMPONENT (END) */

/* TABLE AREA SELECT COMPONENT (START) */
.tablearea-select-container {
    color: var(--black);
    background-color: var(--white);
    height: 82px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.table-select {
    text-align: center;
    min-width: 130px;
    margin: 0 15px 0 15px;
}

.title-container {
    color: var(--white);
}

.title-container h2 {
    margin-bottom: 10px;
}

/* TABLE AREA SELECT COMPONENT (END) */

/* CONFIRM DETAILS SECTION (START) */

.confirm-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    width: 100%;
    max-width: 1300px;
    align-items: flex-start;
}

.confirm-page-buttons-container {
    width: 100%;
}
.confirm-page-buttons-container .page-button{
    max-width: 500px;
    height: 50px;
}

.confirm-page-buttons-container .prev-color {
    width: 100%;
    max-width: 500px;
}

.reservation-overview-container {
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-invisable {
    display: none;
}

.details-form-container {
    width: 100%;
}

.details-form-container form {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

.details-form-container form input {
    border-radius: 8px;
    border: none;
    height: 45px;
    width: 100%;
    max-width: 500px;
    margin: 10px 0 0 0;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

.details-form-container form textarea {
    border-radius: 8px;
    border: none;
    height: 100px;
    width: 100%;
    max-width: 500px;
    margin: 10px 0 0 0;
    padding: 20px 0 0 20px;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

.checked-semi-circle-small path {
    fill: var(--black);
}

.checked-semi-circle-small {
    margin-right: 10px;
}

.small-circle {
    margin-right: 20px;
}

.reservation-overview ul {
    margin-top: 20px;
}

.reservation-overview ul li {
    margin-bottom: 15px;
}

.reservation-overview h3 {
    color: var(--white);
    font-weight: 500;
    font-family: 'Karla', sans-serif;
}

.reservation-overview span {
    color: var(--yellow);
}

.reservation-line {
    height: 1px;
    width: 50%;
    background-color: var(--gray);
    margin-top: 20px;
    margin-bottom: 40px;
}

.interior-seats {
    height: 200px;
    width: 100%;
    border-radius: 8px;
    background: url(./images/interior-seats.jpg) center center/cover;
}

.patio-seats {
    height: 200px;
    width: 100%;
    border-radius: 8px;
    background: url(./images/patio-seats.jpg) center center/cover;
}

.details-title-container {
    color: var(--white);
    width: 100%;
    max-width: 500px;
}

.details-title-container h2 {
    color: var(--white);
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}


/* CONFIRM DETAILS SECTION (END) */


/* RESERVATION CONFIRMATION SLIDE (STARTS) */

/* Reservation Confirmation Slide Grid */
.reservation-confirmation-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto,500px));
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80vh;
}

/* Booking Overview Grid Cell */
.booking-overview {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    box-sizing: border-box;
    align-items: flex-start;
    color: var(--white);
    border-radius: 8px 0 0 8px;
}

.booking-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.booking-detail img{
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.booking-detail h3 {
    font-weight: 500;
}

.booking-detail span {
    font-weight: 400;
    color: var(--yellow);
}

/* Contact Details Grid Cell */
.contact-details {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    box-sizing: border-box;
    align-items: flex-start;
    color: var(--darkgreen);
    border-radius: 0 8px 8px 0;
}

.contact-details .reservation-line {
    background-color: var(--darkgreen);
}

.contact-details form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;

}

.contact-details form input {
   width: 100%;
   height: 40px;
   border-radius: 8px;
   border: 1px solid var(--darkgreen);
   margin-top: 10px;
   padding-left: 10px;
   font-family: 'Karla', sans-serif;
   box-sizing: border-box;
}

.contact-details form textarea {
   width: 100%;
   height: 80px;
   border-radius: 8px;
   border: 1px solid var(--darkgreen);
   margin-top: 10px;
   padding-left: 10px;
   font-family: 'Karla', sans-serif;
   box-sizing: border-box;
}


.inValidMessage {
    display: none;
    color: var(--white);
    background-color: var(--red);
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 10px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
}


.inValidMessage p {
    margin-left: 10px;
}

.inValidMessage .warning-icon path {
    fill: var(--white);
}

.showInvalidMessage {
    display: flex;
}

/* RESERVATION CONFIRMATION SLIDE (ENDS)

/* CONFIRMATION PAGE (STARTS) */
.confirmation-container{
    background-color: var(--darkgreen);
    height: 95vh;
    width: 100%;
}

.confrmation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    color: var(--white);
}

.confrmation-content h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.confrmation-content p {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.home-btn {
    background-color: var(--yellow);
    height: 66px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 80px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.home-btn:hover {
    background-color: #00000000;
    border: 1px solid var(--white);
    color: var(--white);
}

.home-btn img {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}
/* CONFIRMATION PAGE (ENDS) */


/* ___________________________________________________ */
/* MAX WIDTH 1045px CSS */
/* ___________________________________________________ */

@media screen and (max-width: 1045px) {
    /* Nav Section (Start) */
    .nav-content-container {
        grid-template-columns: repeat(1, auto);
       }
    /* Nav Section (Start) */

    /* Specials Section (Start) */
    .specials-card-container {
        grid-template-columns: repeat(2, minmax(auto,300px));
    }

    .specials-card-container {
        height: 100%;
    }

    .specials-content {
        max-width: 600px;
        margin-bottom: 20px;
    }
    /* Specials Section (End) */

    /* About Section (Start) */
    .about-section-container {
        height: 100%;
    }

    .about-content-container {
        grid-template-columns: repeat(1,minmax(auto,495px));
        grid-template-rows: repeat(2,minmax(auto,350px));
        gap: 0;
    }

    .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .team-image {
        background: url(./images/Mario\ and\ Adrian\ A.jpg) center center/cover;
        width: 261px;
        height: 310px;
        border-radius: 8px;
        margin-right: 5px;
        position: static;
    }

    .solo-image {
        background: url(./images/restaurant\ chef\ B.jpg) center center/cover;
        width: 261px;
        height: 310px;
        border-radius: 8px;
        margin-left: 5px;
        position: static;
    }

    /* About Section (End) */

    /* Testimonials Section (Start) */
    .testimonials-card-container {
        grid-template-columns: repeat(2,minmax(auto, 235px));

    }

    .testimonials-section-container {
        height: 100%
    }
    /* Testimonials Section (End) */

    /* Booking Form Section (Start) */
    .calendar-content-container  {
        width: 400px;
        padding: 50px 50px 50px 50px;
    }

    /* Booking Form Section (End) */
}

/* ___________________________________________________ */
/* MAX WIDTH 800px CSS */
/* ___________________________________________________ */

@media screen and (max-width: 800px) {

    /* Nav Section (Start) */
    .nav-content-container {
        display: none;
    }

    .menu-background {
        background-color: var(--white);
        height: 100px;
        width: 100vw;
    }

    .menu-wrap {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
      }

      .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: var(--white);
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .menu-wrap .hamburger > div {
        background: var(--black);
        width: 100%;
        height: 2px;
        position: relative;
        transition: all 0.4s ease;
      }

      .menu-wrap .hamburger > div:before,
      .menu-wrap .hamburger > div:after {
        content: '';
        background: var(--black);
        width: 100%;
        height: 2px;
        position: absolute;
      }

      .menu-wrap .hamburger > div:before {
        top: -10px;
      }

      .menu-wrap .hamburger > div:after {
        top: 10px;
      }

      .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
      }

      .menu-wrap .toggler:checked + .hamburger > div:before,
      .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
      }

      .menu {
        background: var(--white);
        height: 0vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translateX(-1000px);
        transition: all 0.5s ease;
       }

       .menu-wrap .toggler:checked ~ .menu {
        opacity: 1;
        height: 100vh;
        transform: translateX(0);
       }

       .menu ul li {
        margin: 20px 0 20px 0;
        transform: translateY(-100px);
       }
       .menu ul li a {
        color: var(--black);
        font-family: 'Karla', sans-serif;
        font-size: 30px;
        font-weight: 600;
       }


    /* Nav Section (End) */

    /* Booking Form Section (Start) */
    .calendar-content-container  {
        width: 300px;
        padding: 30px 30px 30px 30px;
    }

    .calender-week-container h2 {
        font-size: 15px;
    }

    /* Booking Form Section (End) */


    /* Footer Section (Start) */
    .footer-content-container {
        grid-template-columns: repeat(1, minmax(auto,300px));

    }

    .footer-content {
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-content h2 {
        width: 100%;
    }

    .footer-logo-container{
        margin-bottom: 40px;
    }
    /* Footer Section (End) */

}

/* ___________________________________________________ */
/* MAX WIDTH 700px CSS */
/* ___________________________________________________ */

@media screen and (max-width: 700px) {

    /* Header Section (Starts) */
    .header-section-container {
        height: 950px;
    }

    .header-content {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-bottom: 40px;
    }

    .header-content-container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    /* Header Section (Ends) */

    /* Reservations Form (Start) */

    .booking-content-container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        max-width: 1300px;
        align-items: flex-start;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .calendar-content-container  {
        width: 350px;
        padding: 30px 30px 30px 30px;
    }

    .timeguest-section-container > h2 {
        margin-top: 40px;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-container h2 {
        margin-top: 80px;
    }

    .occasion-title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .wheelchairguests-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .options-section-container .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .details-title-container h2 {
        margin-top: 40px;
    }

    .reservation-overview ul {
        margin-top: 50px;
    }

    .reservation-overview-container {
        width: 100%;
        height: 1500px;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .slider-container {
        background-color: var(--darkgreen);
        padding: 30px;
        overflow: hidden;
        height: 100%;
        }

    .slideSizeOne {
        height: 1100px;
    }

    .slideSizeTwo {
        height: 1500px;
    }

    .slideTwo {
        height: 1100px;

    }
    .slideInVisable {
        display: none;

    }

    /* Reservations Form (End) */



/* RESERVATION CONFIRMATION SLIDE (STARTS) */

/* Reservation Confirmation Slide Grid */
.reservation-confirmation-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto,500px));
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.increase-slide-size {
    height: 74vh
}

/* Booking Overview Grid Cell */
.booking-overview {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.booking-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.booking-detail img{
   display: none;
}

.booking-detail h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact Details Grid Cell */
.contact-details {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

/* RESERVATION CONFIRMATION SLIDE (ENDS) */


}

/* ___________________________________________________ */
/* MAX WIDTH 500px CSS */
/* ___________________________________________________ */

@media screen and (max-width: 500px) {

    .specials-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .specials-content h2 {
        margin-bottom: 40px;
    }

    .specials-card-container {
        grid-template-columns: repeat(1, minmax(auto,300px));
    }

    .testimonials-card-container {
        grid-template-columns: repeat(1,minmax(auto, 300px));
    }

    .testimonials-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .testimonials-card p {
        width: auto;
    }

    /* CONFIRMATION PAGE (STARTS) */

    .confrmation-content h2 {
        font-size: 30px;
        margin-bottom: 40px;
        text-align: center;
    }

    .confrmation-content p {
        font-size: 16px;
        text-align: center;
    }
    /* CONFIRMATION PAGE (ENDS) */

    /* DATE TIME AND GUEST SLIDE (STARTS) */
    .calendar-content-container {
        width: 250px;
    }

    /* DATE TIME AND GUEST SLIDE (ENDS) */
}